################################# Assignment_AdultDataset_EDA #################################################################

**In this task you should use Pandas to answer a few questions about the Adult Dataset(provided).

Unique values of all features:
- `age`: continuous.
- `workclass`: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
- `fnlwgt`: continuous.
- `education`: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
- `education-num`: continuous.
- `marital-status`: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
- `occupation`: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
- `relationship`: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
- `race`: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
- `sex`: Female, Male.
- `capital-gain`: continuous.
- `capital-loss`: continuous.
- `hours-per-week`: continuous.
- `native-country`: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.   
- `salary`: >50K,<=50K

In [3]:
import pandas as pd

In [4]:
data = pd.read_csv(r'C:\Users\korad\Downloads\adult_csv.csv')
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native-country,class
0,2,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,1,0,2,United-States,<=50K
1,3,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,0,United-States,<=50K
2,2,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,2,United-States,<=50K
3,3,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,2,United-States,<=50K
4,1,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,2,Cuba,<=50K

**1. How many men and women (*sex* feature) are represented in this dataset?**

In [8]:
data['sex'].value_counts()

Male      32650
Female    16192
Name: sex, dtype: int64

**2. What is the average age (*age* feature) of women?**

In [30]:
data.loc[data['sex'] == 'Female', 'age'].mean()

1.6038784584980237

**3. What is the percentage of German citizens (*native-country* feature)?**

In [27]:
#float((data['native-country'] == 'Germany').sum()) 
#Total = data.shape[0] or 
# Total = data.count()
#Total
# Percentage of german citizens = (no. of german citizens / Total no. of citizens) * 100

float((data['native-country'] == 'Germany').sum()) / data.shape[0] * 100

0.421768150362393

**4-5. What are the mean and standard deviation of age for those who earn more than 50K per year (*salary* feature) and those who earn less than 50K per year? **

In [5]:
# Renaming the class column as salary feature
data = data.rename(columns= {'class':'salary'})
data.head()

print('Mean of age for those who earn less than 50K:', data.loc[data['salary'] == '<=50K','age'].mean())
print('Standard Deviation of age for those who earn less than 50K:', data.loc[data['salary'] == '<=50K', 'age'].std())
print('Mean of age for those who earn more than 50K:', data.loc[data['salary'] == '>50K', 'age'].mean())
print('Standard Deviation of age for those who earn more than 50K:', data.loc[data['salary'] == '>50K', 'age'].std())

Mean of age for those who earn less than 50K: 1.5902301170771094
Standard Deviation of age for those who earn less than 50K: 1.3222117421838715
Mean of age for those who earn more than 50K: 2.3460254984170446
Standard Deviation of age for those who earn more than 50K: 1.010075584122801

**6. Is it true that people who earn more than 50K have at least high school education? (*education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* or *Doctorate* feature)**

In [6]:
data.loc[data['salary'] == '>50K', 'education'].unique()

#oR

edu_hs = [ 'Bachelors', 'Prof-school', 'Assoc-acdm', 'Assoc-voc', 'Masters', 'Doctorate']
edu_uhs= ['Some-college', '11th', 'HS-grad','9th', '7th-8th', '12th','1st-4th', '10th','5th-6th', 'Preschool']

data.loc[data['salary'] == '>50K','education'].isin(edu_hs).all()
data.loc[data['salary'] == '>50K', 'education'].isin(edu_uhs).all()

# NO, it's not true that people who earn more than 50K have atleast high school education. Few of them are from under high school education.

False

**7. Display age statistics for each race (*race* feature) and each gender (*sex* feature). Use *groupby()* and *describe()*. Find the maximum age of men of *Amer-Indian-Eskimo* race.**

In [7]:
# race by describe()
race_describe=data.groupby("race").describe()

#gender by describe()
sex_describe=data.groupby("sex").describe()

print("race_describe",race_describe,"\n gender_describe",sex_describe)

# The maximum age of men of Amer-Indian-Eskimo race: 4.0

race_describe                         age                                               \
                      count      mean       std  min  25%  50%  75%  max
race
Amer-Indian-Eskimo    470.0  1.595745  1.190932  0.0  1.0  1.0  2.0  4.0
Asian-Pac-Islander   1519.0  1.680053  1.210000  0.0  1.0  2.0  2.0  4.0
Black                4685.0  1.712273  1.247384  0.0  1.0  2.0  3.0  4.0
Other                 406.0  1.315271  1.150035  0.0  0.0  1.0  2.0  4.0
White               41762.0  1.787390  1.304864  0.0  1.0  2.0  3.0  4.0

                     fnlwgt                 ... capitalloss      hoursperweek  \
                      count           mean  ...         75%  max        count
race                                        ...
Amer-Indian-Eskimo    470.0  120110.985106  ...         0.0  3.0        470.0
Asian-Pac-Islander   1519.0  159796.946675  ...         0.0  4.0       1519.0
Black                4685.0  230485.070438  ...         0.0  4.0       4685.0
Other                 406.0  195715.689655  ...         0.0  4.0        406.0
White               41762.0  186894.995738  ...         0.0  4.0      41762.0


                        mean       std  min   25%  50%  75%  max
race
Amer-Indian-Eskimo  1.938298  0.847938  0.0  2.00  2.0  2.0  4.0
Asian-Pac-Islander  1.912442  0.886643  0.0  2.00  2.0  2.0  4.0
Black               1.821772  0.787143  0.0  2.00  2.0  2.0  4.0
Other               1.834975  0.822437  0.0  1.25  2.0  2.0  4.0
White               1.967818  0.908874  0.0  2.00  2.0  2.0  4.0

[5 rows x 48 columns]
 gender_describe             age                                                fnlwgt  \
          count      mean       std  min  25%  50%  75%  max    count
sex
Female  16192.0  1.603878  1.331462  0.0  0.0  1.0  3.0  4.0  16192.0
Male    32650.0  1.853997  1.268980  0.0  1.0  2.0  3.0  4.0  32650.0

                       ... capitalloss      hoursperweek                      \
                 mean  ...         75%  max        count      mean       std
sex                    ...
Female  185504.471714  ...         0.0  4.0      16192.0  1.646492  0.900405
Male    191727.021623  ...         0.0  4.0      32650.0  2.101562  0.856181


        min  25%  50%  75%  max
sex
Female  0.0  1.0  2.0  2.0  4.0
Male    0.0  2.0  2.0  3.0  4.0

[2 rows x 48 columns]

**8. Among whom is the proportion of those who earn a lot (>50K) greater: married or single men (*marital-status* feature)? Consider as married those who have a *marital-status* starting with *Married* (Married-civ-spouse, Married-spouse-absent or Married-AF-spouse), the rest are considered bachelors.**

In [8]:
data.loc[data['salary'] == '>50K' , 'marital-status'].value_counts()

Married-civ-spouse       9984
Never-married             733
Divorced                  671
Widowed                   128
Separated                  99
Married-spouse-absent      58
Married-AF-spouse          14
Name: marital-status, dtype: int64

In [9]:
data.loc[(data['sex'] == 'Male') &
     (data['marital-status'].isin(['Never-married', 
                                   'Separated', 
                                   'Divorced',
                                   'Widowed'])), 'salary'].value_counts()

<=50K    11414
>50K      1001
Name: salary, dtype: int64

In [10]:
data.loc[(data['sex'] == 'Male') &
     (data['marital-status'].str.startswith('Married')), 'salary'].value_counts()

# the proportion of married men are more than bachelors who earn more (>50K)

<=50K    11318
>50K      8917
Name: salary, dtype: int64

**9. What is the maximum number of hours a person works per week (*hours-per-week* feature)? How many people work such a number of hours, and what is the percentage of those who earn a lot (>50K) among them?**

In [19]:
print('Maximum number of hours a person works per week :' ,data['hoursperweek'].max())
no_of_people = data.loc[data['hoursperweek'] == data['hoursperweek'].max()].count().max()
print(no_of_people,'people work',data['hoursperweek'].max(),'hours')
maxhours_maxsalary=(data.loc[data['hoursperweek'] == data['hoursperweek'].max()]['salary'] == '>50K').value_counts()
percentage=((maxhours_maxsalary[True])/no_of_people)*100
print('Percentage: ',percentage)

Maximum number of hours a person works per week : 4
1676 people work 4 hours
percentage:  35.73985680190931

**10. Count the average time of work (*hours-per-week*) for those who earn a little and a lot (*salary*) for each country (*native-country*). What will these be for Japan?**

In [24]:
for (country, salary), sub_df in data.groupby(['native-country', 'salary']):
    print(country, salary, 'Avg_time_work:' ,round(sub_df['hoursperweek'].mean(), 2))

Cambodia <=50K Avg_time_work: 2.05
Cambodia >50K Avg_time_work: 2.22
Canada <=50K Avg_time_work: 1.74
Canada >50K Avg_time_work: 2.4
China <=50K Avg_time_work: 1.67
China >50K Avg_time_work: 2.0
Columbia <=50K Avg_time_work: 1.83
Columbia >50K Avg_time_work: 3.0
Cuba <=50K Avg_time_work: 1.88
Cuba >50K Avg_time_work: 2.09
Dominican-Republic <=50K Avg_time_work: 2.03
Dominican-Republic >50K Avg_time_work: 2.2
Ecuador <=50K Avg_time_work: 1.79
Ecuador >50K Avg_time_work: 2.67
El-Salvador <=50K Avg_time_work: 1.65
El-Salvador >50K Avg_time_work: 2.09
England <=50K Avg_time_work: 1.82
England >50K Avg_time_work: 2.4
France <=50K Avg_time_work: 1.95
France >50K Avg_time_work: 2.31
Germany <=50K Avg_time_work: 1.84
Germany >50K Avg_time_work: 2.36
Greece <=50K Avg_time_work: 2.03
Greece >50K Avg_time_work: 2.94
Guatemala <=50K Avg_time_work: 1.89
Guatemala >50K Avg_time_work: 1.67
Haiti <=50K Avg_time_work: 1.65
Haiti >50K Avg_time_work: 1.89
Holand-Netherlands <=50K Avg_time_work: 2.0
Honduras <=50K Avg_time_work: 1.39
Honduras >50K Avg_time_work: 2.5
Hong <=50K Avg_time_work: 1.86
Hong >50K Avg_time_work: 2.25
Hungary <=50K Avg_time_work: 1.54
Hungary >50K Avg_time_work: 2.5
India <=50K Avg_time_work: 1.74
India >50K Avg_time_work: 2.42
Iran <=50K Avg_time_work: 1.95
Iran >50K Avg_time_work: 2.5
Ireland <=50K Avg_time_work: 2.0
Ireland >50K Avg_time_work: 2.27
Italy <=50K Avg_time_work: 1.8
Italy >50K Avg_time_work: 2.35
Jamaica <=50K Avg_time_work: 1.77
Jamaica >50K Avg_time_work: 2.2
Japan <=50K Avg_time_work: 1.9
Japan >50K Avg_time_work: 2.44
Laos <=50K Avg_time_work: 1.86
Laos >50K Avg_time_work: 2.0
Mexico <=50K Avg_time_work: 1.91
Mexico >50K Avg_time_work: 2.32
Nicaragua <=50K Avg_time_work: 1.72
Nicaragua >50K Avg_time_work: 1.67
Outlying-US(Guam-USVI-etc) <=50K Avg_time_work: 2.0
Outlying-US(Guam-USVI-etc) >50K Avg_time_work: 2.0
Peru <=50K Avg_time_work: 1.67
Peru >50K Avg_time_work: 2.0
Philippines <=50K Avg_time_work: 1.79
Philippines >50K Avg_time_work: 2.21
Poland <=50K Avg_time_work: 1.73
Poland >50K Avg_time_work: 2.0
Portugal <=50K Avg_time_work: 2.0
Portugal >50K Avg_time_work: 2.5
Puerto-Rico <=50K Avg_time_work: 1.85
Puerto-Rico >50K Avg_time_work: 2.0
Scotland <=50K Avg_time_work: 1.94
Scotland >50K Avg_time_work: 2.33
South <=50K Avg_time_work: 1.96
South >50K Avg_time_work: 2.75
Taiwan <=50K Avg_time_work: 1.62
Taiwan >50K Avg_time_work: 2.31
Thailand <=50K Avg_time_work: 2.08
Thailand >50K Avg_time_work: 3.0
Trinadad&Tobago <=50K Avg_time_work: 1.88
Trinadad&Tobago >50K Avg_time_work: 2.0
United-States <=50K Avg_time_work: 1.83
United-States >50K Avg_time_work: 2.33
Vietnam <=50K Avg_time_work: 1.77
Vietnam >50K Avg_time_work: 2.0
Yugoslavia <=50K Avg_time_work: 1.87
Yugoslavia >50K Avg_time_work: 2.25

In [27]:
# OR

import numpy as np

pd.crosstab(data['native-country'], data['salary'], 
           values=data['hoursperweek'], aggfunc=np.mean)

salary                         <=50K      >50K
native-country
Cambodia                    2.052632  2.222222
Canada                      1.739496  2.396825
China                       1.674419  2.000000
Columbia                    1.827160  3.000000
Cuba                        1.884615  2.088235
Dominican-Republic          2.030612  2.200000
Ecuador                     1.794872  2.666667
El-Salvador                 1.645833  2.090909
England                     1.825000  2.404255
France                      1.954545  2.312500
Germany                     1.844595  2.362069
Greece                      2.032258  2.944444
Guatemala                   1.894118  1.666667
Haiti                       1.651515  1.888889
Holand-Netherlands          2.000000       NaN
Honduras                    1.388889  2.500000
Hong                        1.863636  2.250000
Hungary                     1.538462  2.500000
India                       1.741573  2.419355
Iran                        1.945946  2.500000
Ireland                     2.000000  2.272727
Italy                       1.802817  2.352941
Jamaica                     1.769231  2.200000
Japan                       1.900000  2.437500
Laos                        1.857143  2.000000
Mexico                      1.913717  2.319149
Nicaragua                   1.717391  1.666667
Outlying-US(Guam-USVI-etc)  2.000000  2.000000
Peru                        1.666667  2.000000
Philippines                 1.785714  2.211765
Poland                      1.728571  2.000000
Portugal                    2.000000  2.500000
Puerto-Rico                 1.847561  2.000000
Scotland                    1.944444  2.333333
South                       1.957895  2.750000
Taiwan                      1.615385  2.307692
Thailand                    2.080000  3.000000
Trinadad&Tobago             1.880000  2.000000
United-States               1.828233  2.334113
Vietnam                     1.772152  2.000000
Yugoslavia                  1.866667  2.250000

In [28]:
pd.crosstab(data['native-country'], data['salary'], 
           values=data['hoursperweek'], aggfunc=np.mean).T

native-country,Cambodia,Canada,China,Columbia,Cuba,Dominican-Republic,Ecuador,El-Salvador,England,France,...,Portugal,Puerto-Rico,Scotland,South,Taiwan,Thailand,Trinadad&Tobago,United-States,Vietnam,Yugoslavia
salary,,,,,,,,,,,,,,,,,,,,,
<=50K,2.052632,1.739496,1.674419,1.82716,1.884615,2.030612,1.794872,1.645833,1.825000,1.954545,...,2.0,1.847561,1.944444,1.957895,1.615385,2.08,1.88,1.828233,1.772152,1.866667
>50K,2.222222,2.396825,2.000000,3.00000,2.088235,2.200000,2.666667,2.090909,2.404255,2.312500,...,2.5,2.000000,2.333333,2.750000,2.307692,3.00,2.00,2.334113,2.000000,2.250000

In [39]:
pd.crosstab(data['native-country'] == 'Japan', data['salary'], 
           values=data['hoursperweek'], aggfunc=np.mean)

salary             <=50K      >50K
native-country
False           1.830489  2.332218
True            1.900000  2.437500

In [ ]:
# For Japan <=50K	1.900000, >50K	2.437500

#################################################### The End #################################################################